ul {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
}

/* li {
  text-align: start;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
} */

a{
  color: var(--text-color);
}
